extends layout 

block content 
    div(id="artist-detail-page")
        h1 #{title}: #{artist.name}
        if all_vinyls.length
            p #[strong This artist cannot be deleted until all of the artist's albums are deleted.]
            h1 Vinyls by Artist
            div(class="vinyl-list")
                each vinyl in all_vinyls
                    div(class="vinyl-list-card")
                        div(class="vinyl-img") Placeholder
                        a(class="vinyl-title" href=vinyl.url) #{vinyl.title}
                        p #{vinyl.artist.name}
                        p $#{vinyl.price}
        else
            h3 Are you sure you want to delete this Artist?
                form(class="detail-buttons" method="POST" action="")
                    button(class="button-27" type="submit") Delete Vinyl
        
