extends layout 

block content 
    div(id="genre-detail-page")
        h1 #{title} #{genre.name}
        div(class="detail-buttons")
            a(class="button-27" href=`${genre.url}/update`) Update Genre
            a(class="button-27" href=`${genre.url}/delete`) Delete Genre
        h1 Vinyls in Genre
        div(class="vinyl-list")
            each vinyl in all_vinyls
                div(class="vinyl-list-card")
                    div(class="vinyl-img") Placeholder
                    a(class="vinyl-title" href=vinyl.url) #{vinyl.title}
                    p #{vinyl.artist.name}
                    p $#{vinyl.price}

